/* Universal Style */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'Lobster', cursive;
}

.common_color{
    color:rgba(50, 50, 50, 0.743);
}
.common_icon{
    height: 60px;
    width: 60px;
    padding-bottom: 30px;
    cursor: pointer;
}
.btn{
    background-image: linear-gradient(to right bottom, rgb(0, 255, 110),rgb(26, 141, 230));
    font-weight: bold;
    color:rgba(0, 0, 0, 0.743);
    font-size: 18px;
    padding: 15px 20px;
    margin-top: 25px;
    border-radius: 30px;
    border-style: none; 
    cursor: pointer;   
}
.btn:hover{
    transform: scale(1.1);
    transition: all 0.8s;
    box-shadow: 20px 15px 15px rgba(34, 34, 34, 0.568);
    background-image: none;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.808) 100%); */
    background-color: rgba(124, 124, 124, 0.31); 
    color: whitesmoke;   
    border: 2px solid white;
   
    
}
#secondBtn:hover{
    transform: scale(1.1);
    transition: all 0.8s;
    box-shadow: 20px 15px 15px rgba(34, 34, 34, 0.568);
    background-image: none;
    background-color: rgba(73, 73, 73, 0.31); 
    color: black;   
    border: 2px solid black;
}

/* Top Banner Section */

#topBanner{
    background-image:linear-gradient(to bottom left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(images/panda.png);
    height: 90vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.5s;
   
}
.topBanner{
   padding-left: 80px;
   
}
.topBanner h1{
    font-size: 120px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.755); 
    
}
.topBanner p{
    font-size: 18px;
    letter-spacing: 5px;
    color: white;
    font-weight: 600;
    
}
.topBanner button{
    box-sizing: border-box;
}

/* Donate Today Section */

#donateToday{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 90px 0px;
   
}
.donateToday{
    text-align: center;
}
.donateToday h1{
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 20px;
}

.tkAmount{
    display: flex;
    width: 57vw;
    justify-content: space-evenly;
    padding: 45px 0px;
        
}

.indvidualTkAmnt{
    background-color: rgba(199, 198, 198, 0.803);
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    border: none;
    color:rgba(50, 50, 50, 0.743);
    font-size: 18px;
}
.indvidualTkAmnt:hover{
    transform: scale(0.95);
    color: rgb(5, 164, 74);
    border-radius: 5px;
    box-sizing: border-box;
     
}
.indvidualTkAmnt h2{
    padding:40px 35px;
}
.otherAmount{
    width: 55%;
    text-align: center;
}

#donateInput{
    border: none;
    width: 50%;
    text-align: center;
    padding: 15px 5px;
    font-size: 25px;
    appearance: none;
    
}
#donateInput:focus{
    outline: none;
}
/* Our Donate plan Section */

#ourDonatePlan{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-bottom: 50px;
}
.ourDonatePlan{
    text-align: center;
    width: 70%;
    
}
.ourDonatePlan h1{
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 15px;
}
#dPnalMainDiv{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.dPlanMiniDiv{
    height: auto;
    width: 27%;
    padding: 60px 25px 40px;
    border-radius: 5px;
    transition: all 0.7s;
}
.dPlanMiniDiv:hover{
    transform: scale(0.9);
}
#cWater{
    background-image: linear-gradient(to left bottom, rgba(194, 207, 12, 0.307),rgba(4, 239, 153, 0.308));
}
#rEnergy{
    background-image: linear-gradient(to top, rgba(0, 255, 110, 0.306),rgba(16, 129, 216, 0.307));
}
#pAnimal{
    background-image: linear-gradient(to right bottom, rgba(114, 46, 187, 0.303),rgba(222, 79, 23, 0.302));
}
.dPlanMiniDiv h2{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
    letter-spacing: 5px;
}

/* Tachnical Statistics Section */

#technicalStats{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.846) 0%, rgba(32, 163, 37, 0.562) 100%), url(images/rEnergyBg.png);
    height: 80vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    padding: 100px 0px 500px 100px;
    margin: 100px 0px;
    
}
.techStats{
    padding-bottom:40px ;
    color: whitesmoke;
}
.techStats p{
    letter-spacing: 10px;
    font-weight: bold;
}
.techStats h1{
    font-size: 55px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.876); 
    padding-top: 10px;
}

.techStatsIcons{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    color: white;
    
}
.indTechStatsIcons{
    padding: 30px;
    background-color: rgba(244, 237, 237, 0.22);
    border-radius: 5px;
    text-align: center;
    width: 18%;
    transition: all 0.7s;
}
.indTechStatsIcons:hover{
    transform: scale(0.9);
}
.indTechStatsIcons h1{
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 10px;
}


/* Update Section */

#updateSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myUpdates h1{
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 20px;
}
.emailSec{
    background-color: orange;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 10px;
    background-color: rgba(39, 172, 255, 0.323);
    margin-top: 40px;
    margin-bottom: 110px;
    border-radius: 10px;
    transition: all 0.7s;
}
.emailSec:hover{
    transform: scale(1.1);
}
.emailSec input[type = email]{
    border: none;
    padding: 12px 10px;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.647);
    border-radius: 20px 0px 0px 20px;
    font-size: 16px;
    
}
.emailSec input[type = button]{
    background-image: linear-gradient(to right bottom, rgb(0, 255, 110),rgb(26, 141, 230));
    font-weight: bold;
    border: none;
    padding: 12px 30px;
    border-radius: 0px 20px 20px 0px;
    font-size: 16px;
    color:rgba(0, 0, 0, 0.743);
    cursor: pointer;
}
.emailSec input[type = email]:focus{
    border: none;
    outline: none;
    color:rgba(50, 50, 50, 0.743);
}

/* Footer */

footer{
    text-align: center;
    background-color: black;
    height: 25%;
    padding-bottom: 50px;
}
footer h1{
    color: rgb(37, 188, 103);
    padding: 25px 0px;
    font-weight: 400;
}
.stayWithUs{
    color: whitesmoke;
    font-size: 14px;
    letter-spacing: 5px;
    line-height: 40px;
}
.copyright{
    color: whitesmoke;
    font-size: 12px;
    font-weight: 200;
    cursor: pointer;
}
