/* Universal Style */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'Lobster', cursive;
}

.common_color{
    color:rgba(50, 50, 50, 0.743);
}
.common_icon{
    height: 60px;
    width: 60px;
    padding-bottom: 30px;
    cursor: pointer;
}
.btn{
    background-image: linear-gradient(to right bottom, rgb(0, 255, 110),rgb(26, 141, 230));
    font-weight: bold;
    color:rgba(0, 0, 0, 0.743);
    font-size: 18px;
    padding: 15px 20px;
    margin-top: 25px;
    border-radius: 30px;
    border-style: none; 
    cursor: pointer;   
}

/* Top Banner Section */

#topBanner{
    background-image:linear-gradient(to bottom left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%), url(images/panda2.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}
.topBanner{
   padding-left: 80px;
   
}
.topBanner h1{
    font-size: 120px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.755); 
    
}
.topBanner p{
    font-size: 18px;
    letter-spacing: 5px;
    color: white;
    font-weight: 600;
    
}

/* Donate Today Section */

#donateToday{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 90px 0px;
   
}
.donateToday h1{
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 20px;
}

.tkAmount{
    display: flex;
    width: 57vw;
    justify-content: space-evenly;
    padding: 45px 0px;
        
}

#secondTk{
color: rgb(37, 188, 103);
border: 2px solid rgb(37, 188, 103);
border-radius: 5px;
  
}
.indvidualTkAmnt{
    padding: 30px 25px;
    background-color: rgba(244, 237, 237, 0.803);
    box-sizing: border-box;
    border-radius: 5px;
    
}
.otherAmount{
    width: 55%;
    text-align: center;
}

/* Our Donate plan Section */

#ourDonatePlan{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-bottom: 50px;
}
.ourDonatePlan{
    text-align: center;
}
.ourDonatePlan h1{
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 15px;
}
#dPnalMainDiv{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.dPlanMiniDiv{
    height: auto;
    width: 27%;
    padding: 60px 25px 40px;
    border-radius: 5px;
}
#cWater{
    background-image: linear-gradient(to left bottom, rgba(194, 207, 12, 0.307),rgba(4, 239, 153, 0.308));
}
#rEnergy{
    background-image: linear-gradient(to top, rgba(0, 255, 110, 0.306),rgba(16, 129, 216, 0.307));
}
#pAnimal{
    background-image: linear-gradient(to right bottom, rgba(114, 46, 187, 0.303),rgba(222, 79, 23, 0.302));
}
.dPlanMiniDiv h2{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
    letter-spacing: 5px;
}

/* Update Section */

#updateSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myUpdates h1{
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 20px;
}
.emailSec{
    background-color: orange;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 10px;
    background-color: rgba(233, 255, 39, 0.323);
    margin-top: 40px;
    margin-bottom: 110px;
    border-radius: 10px;
}
.emailSec input[type = email]{
    border: none;
    padding: 12px 10px;
    width: 40%;
    background-color: rgba(225, 221, 221, 0.647);
    border-radius: 20px 0px 0px 20px;
    font-size: 16px;
    
}
.emailSec input[type = button]{
    background-image: linear-gradient(to right bottom, rgb(0, 255, 110),rgb(26, 141, 230));
    font-weight: bold;
    border: none;
    padding: 12px 30px;
    border-radius: 0px 20px 20px 0px;
    font-size: 16px;
    color:rgba(0, 0, 0, 0.743);
    cursor: pointer;
}


/* Footer */

footer{
    text-align: center;
    background-color: black;
    height: 25%;
}
footer h1{
    color: rgb(37, 188, 103);
    padding: 25px 0px;
}
footer span{
    color: whitesmoke;
    font-size: 14px;
    letter-spacing: 5px;
}